*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
}
.header-container{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 5px;
margin-top: 30px;
width: fit-content;
margin: 0 auto;
height: 20%;
width: 40%;

}
.header-para{
    padding: 28px;
    font-size: 1.1rem;
    margin-left: 32px;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(4, 352px); 
    justify-content: center; 
    gap: 15px;
    padding: 20px;
}


.card-container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 352px;
    border-radius: 10px;
}
#htwo{
    margin-top: 10px;
    margin-left: 10px;
}
#para-style{
     margin-top: 10px;
     margin-left: 10px;
}
.img{
    height: 300px;
    width: 350px;
    border-radius: 8px;
}
.card-footer{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.left{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
.right{
    margin-left: 90px;
    padding:6px;
    
}
#butt{
    height: 28px;
    margin-bottom: 5px;
}
#ava{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
}