*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
}
header{
    display: flex;
    background-color: aquamarine;
    align-items: center;
    justify-content: space-around;
}
.nav-style{
    text-decoration: none;
    margin: 15px;
}
main{
    background-color: rgb(85, 143, 173);
    border: 1px solid black;
}

.content{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    margin:100px auto;
    gap: 20px;
}
footer {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  background-color: black;
  color: white;
}

footer ul {
  list-style: none;
}

footer a {
  text-decoration: none;
  color: white;
}