*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
}
header{
    display: flex;
    background-color: aquamarine;
    align-items: center;
    justify-content: space-around;
}
.nav-style{
    text-decoration: none;
    margin: 15px;
}
main{
    background-color: rgb(85, 143, 173);
    border: 1px solid black;
}

.content{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    margin:100px auto;
    gap: 20px;
}
footer {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  background-color: black;
  color: white;
}

footer ul {
  list-style: none;
}

footer a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width:500px){
.content{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    margin:100px auto;
    gap: 20px;
    background-color: rgb(108, 174, 174);
    justify-content: center;
    align-items: center;
}
}

@media screen and (max-width:500px){
  footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 30px;
  background-color: black;
  color: white;
  background-color: rgb(55, 55, 121);
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.quick-links{
  margin-right: 52px;
}
.social{
  margin-right: 78px;
}

header{
    display: flex;
    flex-direction: column;
    background-color: rgb(190, 118, 98);
    align-items: center;
    justify-content: space-around;
}

.right-box{
  margin-left: 80px;
}
span{
    margin-left: 100px;
}
.nav-links{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  
}
#login{
  background-color: rgb(28, 190, 25);
  height: 25px;
  width: 52px;
  border-radius: 10px;
  
}
#signup{
   background-color: rgb(28, 190, 25);
   height: 25px;
   width: 52px;
   border-radius: 10px;
}
}