*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
}
.heading{
    margin-top: 15px;
    margin-left: 20px;
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(121, 156, 164);
    width: 100%;
    height: 10%;
    
}
.nav-links{
    color: blue;
    margin-top: 22px;
    font-weight: bold;

}

.manage-style{
    margin: 10px;
    text-decoration: none;
    font-size: bold ;
}

.auth{
    display: flex;
    justify-content: center;
    align-items: center;
}
#login{
    border-radius: 10px;
    background-color: aliceblue;
    margin: 100px;
    padding: 10px;
    width: 100px;
    margin-right: 10px;
}
#signup{
    border-radius: 10px;
    background-color: aliceblue;
    margin: 100px;
    padding: 10px;
    width: 100px;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: cenetr;
    align-items: center;
    background-color: rgb(184, 219, 227);
    border: 1px solid black;
    margin-top: 100px;
    margin-left:400px;
    height: 50%;
    width: 50%;
    gap: 10px;
    margin-bottom: 100px;
    
}
.left-box{
   height: 300px;
   width: 300px;
   margin-left: 30px;
   margin-right: 50px;
}

#mita {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
#date {
    margin-top: 10px;
}
.right-box{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    margin-right: 20px;
}
.img{
    height: 300px;
    width: 300px;
}

.footer{
    display: grid;
    background-color: black;
    color: aliceblue;
    grid-template-columns: repeat(4,1fr);
    padding: 10px;
    
}

footer {
      background-color: #222;
      color: #ddd;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding: 40px 70px;
      gap: 80px;
    }

    footer h3 {
      color: #fff;
      margin-bottom: 10px;
    }

    footer ul {
      list-style: none;
    }

    footer ul li {
        margin: 10px;

    }
    footer ul li a {
      text-decoration: none;
      color: #ddd;
      font-size: 15px;
    }
