*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div > div{
    height: 300px;
    width: 300px;
    background-color: rgb(160, 98, 218);
    margin: 100px auto;
}

div div:first-child{
background-color: rgb(195, 14, 14);
}

.child:active{
    background-color: rgb(240, 255, 240);
}
.child:hover{
    background-color: blue;
}

.elements p::before{
    content: vaibhav;


}

.elements p::first-letter{
    content: vaibhav;
    color:red;
}