*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    text-align: center;
}

div > div {
    display: inline-block;
    width: 400px;
    height: 400px;
    background-color: rgb(221, 111, 33);
}

.linear div:nth-of-type(1){
    background: linear-gradient(red 80%,blue);
}

.linear div:nth-of-type(2){
    background: linear-gradient(to right,red,green,blue);
}

.linear div:nth-of-type(3){
    background: linear-gradient(100deg,red,rgb(38, 0, 128),blue);
}

.radial div:nth-of-type(1){
      background: radial-gradient(red,blue);
}

.radial div:nth-of-type(2){
      background: radial-gradient(farthest-side,red,rgb(0, 255, 183));
}

.radial div:nth-of-type(3){
      background: radial-gradient(closest-side,red,rgb(255, 166, 0),green);
}


.conic div:nth-of-type(1){
      background: conic-gradient(red,rgb(255, 0, 183),green,rgb(128, 4, 0),blue,red,yellow);
}

.conic div:nth-of-type(2){
      background: conic-gradient(red,rgb(255, 0, 183),rgb(122, 128, 0),rgb(234, 0, 255),red,yellow);
}
.conic div:nth-of-type(3){
      background: conic-gradient(rgb(0, 255, 30),rgb(255, 0, 183),green,green,white,black);
}