*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-container{
    height: 100vh;
    width: 100vw;
}
.heading{
   text-align: center;
    font-size: 1.5rem;
 
    
}
.card{
    display: flex;
    flex-direction: row;
    max-width: fit-content;
    background-color: rgb(212, 149, 149);
    padding: 10px;
}

img{
    height: 250px;
    width: 250px;
    border-radius: 10px;
}